*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins, sans-serif;
}
.bigdiv{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('./logo/world.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    position: relative;
    width: 500px;
    height: 500px;
    /* background-image: url('./logo/world.jpg');
    background-position: center; */
    border-radius: 10px;
    padding: 25px 20px 25px 20px;
    box-shadow: -5px 20px 20px 10px black;

    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(1px);
}
h1{
    margin-top: 20px;
    text-align: center;
    color: blueviolet;
}
.one{
    height: 70px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 35px;
    background: transparent;
}
input{
    outline: none;
    border: none;
    padding: 0 50px 0 20px;
    border: 1px solid rgb(204, 199, 171);
    font-size: 20px;
    color: blueviolet;
}
.bouton{
    height: 60px;
    width: 200px;
    margin-left: 150px;
    border-radius: 30px;
    background: blueviolet;
    color: white;
    font-size: 25px;
    font-weight: 800;
    transition: 0.5s;
    cursor: pointer;
}
p{
    text-align: center;
    margin-top: 20px;
}
.one input{
  padding: 0 30px;
  color:brown;
}
a{
    text-decoration: none;
    color: blueviolet;
}
a:hover{
    text-decoration: underline;
}
p{
    color: white;
}
.bouton:hover{
    background: rgb(38, 1, 73);
    color:rgb(97, 96, 92)
}

h5{
    color: red;
}

